
body{
    background:#d9e79f;
    font-family: 'Playfair Display', serif;
    overflow-wrap: anywhere;
    
}
section{
    background-image: linear-gradient(#b3d733, #d9e79f);
    border: solid 4px #5F7091;
    border-radius: 10px;
    max-width: 525px;
    margin: auto;
    margin-bottom: 25px;
    padding: 15px;
    text-align: center;
    
}
h1, h3{
    margin-top: 0;
    color: #091834;
}
input{
    border: solid 3px #1258DC;
    border-right: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
    background: #E7F7D4;
    color: #5F7091;
    padding-left: 10px;
    outline: none;
    
}
button{
    border: solid 3px #1258DC;
    border-radius: 0 5px 5px 0 ;
    border-left: none;
    width: 50px;
    background: #091834;
    color: #E7F7D4;
    margin: 0px;
   
}
button:hover{
    background: #5F7091;
}
div.inpButt{
    display:flex;
    justify-content: center;
    height: 40px;
}
div.todo{
    background: #E6E6E6;
    color: #092834;
    border: solid 3px #5F7091;
    border-radius: 5px;
    max-width: 525px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    
}
div.todoItem{
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;

    
}
div.done{
    background: #E6E6E6;
    color: #092834;
    border: solid 3px #5F7091;
    border-radius: 5px;
    max-width: 525px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    
}
p{
    font-weight: bold;
}
i.fa-check-square:hover{
    color: #B2D732;
}
i.fa-trash-alt:hover{
    color:#FE2712;
}
span{
    flex-grow: 1;
   /*border: solid 1px black;*/
    margin: 0;
}
    
i{
    margin: 0 5px 0 5px;
    cursor: pointer;
    
    /*border: solid 1px black;*/
}
i.fa-check-square{
    font-size: 20px;
}
i.fa-trash-alt{
    font-size: 18px;
} 


